<div class="row wrapper">
    <div class="col col-10 offset-1 col-lg-10 offset-lg-1 col-xl-6 offset-xl-3 wrapper-login">
        <div class="row">
            <div class="col col-12 col-md-5 welcome">
                <div class="col col-12 col-lg-8 welcome-message">
                    <h2 class="brand">Greenline Hardscapes</h2>
                    <h3>Admin Page</h3>
                    <small>Working to make come true your wishes</small>
                </div>
            </div>
            <div class="col col-12 col-md-7 login-form">
                <img src="../../../assets/img/kraken.svg" alt="kraken" height="100">
                <h1>Login</h1>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
                    <div class="form-group">
                      <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Email Address" formControlName="email">
                      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control" name="password" placeholder="Password" formControlName="password">
                    </div>
                    <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                    <input type="submit" [disabled]="loading" class="btn btn-primary col-12 col-lg-6" value="Login">
                </form>
                <div class="messages">
                    <alert></alert>
                </div>
                <div class="loader" *ngIf="loading">
                    <img src="../../../assets/img/loading.svg" alt="loading">
                </div>
            </div>
        </div>
    </div>
</div>