<div class="row">
    <div class="col col-6">
        <div class="row">
            <div class="col col-12 col-lg-6">
                <div class="card">
                    <div class="card-body">                        
                        <div class="row">
                            <div class="col col-12">
                                <h5 class="card-title">Sales of Day</h5>
                                <div class="icon-wrapper"><span class="fas fa-dollar-sign"></span></div>
                            </div>
                        </div>
                        <p class="card-text numbers numbers-1x">$1,900.00 DLLS</p>
                        <div class="statistic numbers numbers-6x success left"><i class="fas fa-level-up-alt"></i> $309.00+</div>
                        <div class="refresh-statistic"><i class="fas fa-sync"></i> Reload</div>
                    </div>
                </div>
            </div>
            <div class="col col-12 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col col-12">
                                <h5 class="card-title">Open Service</h5>
                                <div class="icon-wrapper"><span class="fas fa-user-clock"></span></div>
                            </div>
                        </div>
                        <p class="card-text numbers numbers-1x">24</p>
                        <div class="statistic numbers numbers-6x success left"><i class="fas fa-level-up-alt"></i> 2-</div>
                        <div class="refresh-statistic"><i class="fas fa-sync"></i> Reload</div>
                    </div>
                </div>
            </div>
            <div class="col col-12 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col col-12">
                                <h5 class="card-title">Unattended Prospects</h5>
                                <div class="icon-wrapper"><span class="fas fa-headset"></span></div>
                            </div>
                        </div>
                        <p class="card-text numbers numbers-1x">32</p>
                        <div class="statistic numbers numbers-6x danger left"><i class="fas fa-level-down-alt"></i> 5+</div>
                        <div class="refresh-statistic"><i class="fas fa-sync"></i> Reload</div>
                    </div>
                </div>
            </div>
            <div class="col col-12 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col col-12">
                                <h5 class="card-title">Products</h5>
                                <div class="icon-wrapper"><span class="fas fa-box-open"></span></div>
                            </div>
                        </div>
                        <p class="card-text numbers numbers-1x">1,943</p>
                        <div class="statistic numbers numbers-6x danger left"><i class="fas fa-level-down-alt"></i> 43+</div>
                        <div class="refresh-statistic"><i class="fas fa-sync"></i> Reload</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col col-6">        
        <div class="row">
            <div class="col col-12 col-lg-12">
                <div class="card chart-wrapper">
                    <div class="card-body">
                        <div class="row">
                            <div class="col col-12">
                                <h5 class="card-title">Latest Sales</h5>
                                <div class="icon-wrapper"><span class="fas fa-chart-line"></span></div>
                                <!-- <div class="dropdown show">
                                    <a class="btn icon-wrapper grey" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </a>                                  
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" (click)="init()">Init</a>
                                        <a class="dropdown-item" (click)="addSerie()">Add Serie</a>
                                        <a class="dropdown-item" (click)="removeSerie()">Remove Serie</a>
                                        <a class="dropdown-item" (click)="addPoint()">Add Point</a>
                                        <a class="dropdown-item" (click)="removePoint()">Remove Point</a>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                        <div [chart]="chart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col col-12">

    </div>
</div>